@charset "UTF-8";

/*include font for site*/
@font-face {
  font-family: 'Frutiger Roman';
  src: url("../fonts/FrutigerLTW01-55Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/FrutigerLTW01-55Roman.woff") format("woff"), url("../fonts/FrutigerLTW01-55Roman.ttf") format("truetype"), url("../fonts/FrutigerLTW01-55Roman.svg#FrutigerLTW01-55Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FrutigerCE-Light';
  src: url("../fonts/FrutigerCE-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FrutigerCE-Light.woff") format("woff"), url("../fonts/FrutigerCE-Light.ttf") format("truetype"), url("../fonts/FrutigerCE-Light.svg#FrutigerCE-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FrutigerCE-Black';
  src: url("../fonts/FrutigerCE-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/FrutigerCE-Black.woff") format("woff"), url("../fonts/FrutigerCE-Black.ttf") format("truetype"), url("../fonts/FrutigerCE-Black.svg#FrutigerCE-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.otf") format("opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Eagle-Bold';
  src: url("../fonts/Eagle-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Eagle-Bold.otf") format("opentype"), url("../fonts/Eagle-Bold.woff") format("woff"), url("../fonts/Eagle-Bold.ttf") format("truetype"), url("../fonts/Eagle-Bold.svg#Eagle-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*the end include font for site*/


/* css reset for site */
*:focus, button:focus, input:focus, *, input, button, *:active, input:active, button:active, .bootstrap-select .btn:focus, option {
  outline: none !important;
  outline: 0px !important;
}

sup {
  top: -0.5em;
  font-size: 85%;
}
table {
  width: 100%;
  max-width: 100%;
  border: 1px solid #373732;
}

table tr {
  border: 1px solid #373732;
}

table tr td, table tr th {
  border: 1px solid #373732;
  padding: 5px;
  text-align: inherit;
}

table tr td p, table tr td ul li, table tr td ol li, table tr th p, table tr th ul li, table tr th ol li {
  width: auto;
  padding: 0px !important;
  margin: 0px;
  width: 100%;
}

table tr td h3, table tr td h4, table tr td h2, table tr td p {
  padding: 0px;
}


body {
  -webkit-font-smoothing: antialiased !important;
  font-size: 16px;
  font-family: "FrutigerCE-Light";
  color: #7b7979;
  background: #edeff4 url("../images/dot-background.png") repeat left top;
}

html {
  overflow-x: hidden;
}

p {
  padding: 10px 0px;
  margin-bottom: 0px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

a:hover, a:focus {
  text-decoration: none;
  color: #20929c;
}

h1, h2, h3, h4, h5 {
  padding: 10px 0;
  margin-bottom: 0;
  margin-top: 0;
}


img {
  max-width: 100%;
}


input::-moz-focus-inner, a:focus {
  outline: none;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: textfield;
}

.form-control:focus {
  box-shadow: none !important;
}

/*the end css reset for site */


/* Sass mixins*/

.container {
  width: 100%;
  max-width: 1190px;
  padding: 0 15px;
}

.one-space {
  height: 10px;
}

.two-space {
  height: 20px;
}

.three-space {
  height: 30px;
}

.four-space {
  height: 40px;
}

.five-space {
  height: 50px;
}

.six-space {
  height: 60px;
}

.seven-space {
  height: 70px;
}

.eight-space {
  height: 80px;
}


.nine-space {
  height: 90px;
}

.ten-space {
  height: 100px;
}

.eleven-space {
  height: 110px;
}

.twenlve-space {
  height: 120px;
}

.thirteen-space {
  height: 130px;
}

.fourteen-space {
  height: 140px;
}

.fiveteen-space {
  height: 140px;
}

/*the end css reset for site */

/* sprite icon*/
.icons-sprite, .icons-next-slice, .icons-prev-slice {
  background-image: url('../images/generated/icons-se39a59166d.png');
  background-repeat: no-repeat;
}

.icons-next-slice {
  background-position: 0 0;
}

.icons-prev-slice {
  background-position: 0 -82px;
}

/*the end sprite icon*/


/* style button */
.btn {
  border-radius: 0;
  box-shadow: none;
  border: none;
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  min-width: 180px;
  text-transform: uppercase;
}
.btn button {
  background: transparent;
  border: none;
  font-size: inherit;
  color: inherit;
}

/*the end style button */


/* Hack css browser*/
.ie8 .container {
  width: 100%;
}
.ie8 .navbar-collapse {
  width: 66.66%;
}
/*the end Hack css browser*/


/*style general layer site*/
.wrapper {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.bg {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page #ani-footer,.home-page #ani16,.home-page #rotate1,.home-page #ani1,.home-page #ani2,.home-page #ani3,
.home-page #ani4,.home-page #ani5,.home-page #ani6,.home-page #ani7,.home-page #ani8,.home-page #ani9,.home-page #ani10,
.home-page #ani11,.home-page #ani12,.home-page #ani13,.home-page #ani14 {
  opacity: 0;
}
#footer{
  position: relative;
  min-height: 134px;
  overflow: hidden;
}
#header{

}
#header.scroll-layout{
  width: 100%;
  top: 0;
  left: 0;
/*  padding-bottom: 20px;
padding-top: 20px;*/
transition: .25s all;
-webkit-transition: .25s all;
}
body.scroll-layout #header .menu-home{
  display: none;
}
body.scroll-layout .l-menu-video{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 1em 0 1.2em;
  transition: .25s padding;
  -webkit-transition: .25s padding;
}

.logo, #header{
 transition: .25s all;
 -webkit-transition: .25s all;
}

#header.scroll-layout .logo{
 opacity: 0;
 visibility: hidden;
 transition: .25s all;
 -webkit-transition: .25s all;
}
.section{
  position: relative;
  z-index: 1;
}
#ani16{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}


#ani6, #ani9, #ani10 {
  position: relative;
  z-index: 2;
  box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.4);
}

.ps-as {
  position: absolute !important;
  top: 0;
  left: 0;
}

.ps-rv {
  position: relative !important;
}

.ps-stt {
  position: static !important;
}

.lp1 {
  letter-spacing: 1px;
}

.lp2 {
  letter-spacing: 2px;
}

.lp3 {
  letter-spacing: 3px;
}

.lp4 {
  letter-spacing: 4px;
}

.link-color {
  color: #91479b;
}

.clear {
  clear: both;
  padding: 0px !important;
  display: block;
  height: 0 !important;
}

.error {
  border: 1px solid red !important;
}

.table-div {
  display: table !important;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

.table-cell {
  display: table-cell !important;
  width: 100%;
  height: 100%;
}

.bg-fff {
  background: #fff !important;
}

.bg-gray {
  background-color: #dfe2e9;
}

.br {
  display: block;
  height: 0;
  font-size: 0;
}

.no-margin {
  margin: 0px !important;
}

.mt-none {
  margin-right: 0 !important;
}

.mr-none {
  margin-top: 0 !important;
}

.mb-none {
  margin-bottom: 0 !important;
}

.ml-none {
  margin-left: 0 !important;
}

.no-padding {
  padding: 0px !important;
}

.pt-none {
  padding-top: 0 !important;
}

.pr-none {
  padding-right: 0 !important;
}

.pb-none {
  padding-bottom: 0 !important;
}

.pl-none {
  padding-left: 0 !important;
}

.no-border {
  border: none !important;
}

.no-bg {
  background: none !important;
}

.ls-none {
  padding-left: 0;
  list-style: none;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.bootstrap-select, .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: auto;
}

.bootstrap-select > .dropdown-toggle {
  text-transform: none;
  float: none;
}

.row-8 {
  margin-left: -8px;
  margin-right: -8px;
}

.row-8 > * {
  padding-left: 8px;
  padding-right: 8px;
}

.modal-content {
  margin-left: 15px;
  margin-right: 35px;
}

.modal-dialog-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal {
  z-index: 5000;
}

.max-width1 {
  max-width: 270px;
}

.person {
  width: 100%;
}


iframe {
  border: none;
}


.section {
  padding: 3em 0;
}


.section1.ps-rv {
  margin-left: 0 !important;
}

.left-ps {
  position: absolute;
  right: 100%;
  top: 7%;
}


.text-content .bg-gray {
  padding: 1em 1em 0 2em;
  margin: 0 -1em 1em;
}

.text-content .bg-gray ~ * {
  padding-left: 1em;
}

.text-content .left.bg-gray {
  padding-left: 1em;
}

.text-content .left.bg-gray ~ * {
  padding-right: 1em;
  padding-left: 0;
}

@media only screen and (min-width: 1200px) {

  .row-30 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .row-30 > * {
    padding-left: 30px;
    padding-right: 30px;
  }


  .row-50 {
    margin-left: -50px;
    margin-right: -50px;
  }

  .row-50 > * {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 1400px) {
  .ps-rv {
    margin-left: 200px;
  }
}
@media only screen and (max-width: 1360px) {
  .ps-rv {
    margin-left: 260px;
  }
}
@media only screen and (max-width: 1200px) {

  .ps-rv {
    margin-left: 200px;
  }
}
@media only screen and (max-device-width: 1050px) {

  * {
    cursor: pointer;
  }
}
@media only screen and (max-width: 1000px) {

  .ps-rv {
    margin-left: 160px;
  }
}
@media only screen and (max-width: 768px) {
  * {
    cursor: pointer;
  }

  .block-mb {
    display: block;
  }

  .height-mb {
    height: auto !important;
  }

  .center-mb {
    text-align: center;
  }
}

.font2 {
  font-family: "MyriadPro-Regular" !important;
}

.font3 {
  font-family: "FrutigerCE-Black" !important;
}


h2 {
  font-size: 3.3125em;
  line-height: 0.96471em;
}

h3 {
  font-size: 1.33333em;
  line-height: 1.875em;
  font-family: "MyriadPro-Regular";
}


h4 {
  font-size: 1.66667em;
  line-height: 1.2em;
  font-family: "MyriadPro-Regular";
}

.max-width1{
  min-width: 200px;
}

.section2 p {
  font-family: "Frutiger Roman";
  font-size: 1.875em;
  line-height: 1.2em;
}

.section2 p small {
  font-size: 0.4em;
}






p, li {
  line-height: 1.5625em;
}

p small, li small {
  font-size: 0.65em;
}

.section1 {
  height: 1366px;
}
@media only screen and (max-width: 767px){
  .section1 {
    height: auto;
  }
}
.section1 .container {
  position: relative;
  z-index: 3;
}


.banner {
  background: #dcdfe8 url("../images/dot-background.png") repeat left top;
}


.line-bt {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 7px;
  letter-spacing: 1px;
}

.line-bt:after {
  position: absolute;
  left: 0;
  content: "";
  width: 33px;
  bottom: 0;
  height: 2px;
  background: #797979;
}

.line-bt.right-line:after {
  right: 0;
  left: auto;
}

@media only screen and (max-width: 1200px) {

  h2 {
    font-size: 3.8em;
  }


  .section2 p {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 1000px) {

  h2 {
    font-size: 3em;
  }
}
@media only screen and (min-width: 769px) {

  #ani1 {
    margin-top: 140px;
  }


  #ani2 {
    margin-top: 509px;
  }

  #ani7 {
    margin-top: 228px;
  }

  #ani11 {
    margin-top: 390px;
  }
}
/*the end style general layer site*/

/*css loading*/
#loading {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #edeff4 url("../images/dot-background.png") repeat left top;
  z-index: 9999;
}

.spinner {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #7b7979;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*the end css loading*/

/*css footer*/

#ani-footer {
  padding: 2em 0;
  background: #d2d4d8;
}

#footer p {
  font-family: "Frutiger Roman";
}

#footer .logo-footer {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {

  #footer {
    text-align: center;
  }

  #footer .text-right {
    text-align: center;
  }
}
/*the end css footer*/

/*css header*/

#header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 40px;
  z-index: 12;
}


#ani4, #ani5 {
  padding-left: 1em;
}


.slogan {
  font-family: "Eagle-Bold";
  margin-top: 24px;
}

.slogan h2 {
  font-size: 5em;
  line-height: 0.8375em;
  font-weight: 900;
  font-family: "Eagle-Bold";
}

@media only screen and (max-width: 768px) {

  .left-ps {
    position: static;
  }


  .ps-rv {
    margin-left: 0;
  }
}
/*the end css header*/

/*css rotate img 360*/
/*.rotate-box {
  margin: 0em auto 0;
  position: absolute;
  display: block;
  left: 0;
  top: -110px;
  right: 0;
  bottom: 0;
  max-width: 1920px;
  z-index: 2;
  }*/
  .rotate-box > * {
    height: auto !important;
    width: auto !important;
  }


  .rotate-box .no-rotate, .rotate-box .rotate {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
  }

  .rotate-box .shadown {
    position: absolute;
    top: 945px;
    left: 0;
    opacity: 0;
    z-index: -1;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform-origin: left bottom;
    right: -889px;
    margin: 0 auto;
    max-width: none;
  }

  .rotate-box .rotate {
    opacity: 0;
    visibility: hidden;
  }

  .rotate-box.rotate-box-active .no-rotate {
    opacity: 0;
    visibility: hidden;
  }

  .rotate-box.rotate-box-active .rotate {
    opacity: 1;
    visibility: visible;
  }


/*#rotate1, #rotate2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  top: 403px;
  right: 0;
  margin: 0 auto;
  background-position: top center;
  height: 1417px;
  background-repeat: no-repeat;
  //width: 1920px;
  }*/


  #rotate1 {
    top: 30px;
    max-width: none;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform-origin: top center;
  }
  /* the end css rotate img 360*/

  /*css Scroll-Down */
  .Scroll-Down {
    font-family: "Frutiger Roman";
    font-size: 1.3em;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: 0 auto;
    max-width: 200px;
  }

  .Scroll-Down .fa {
    font-size: 1.8em;
  }

  /* thend css Scroll-Down */

  /* css social */
  .social ul {
    padding-left: 0px;
    list-style: none !important;
    margin-bottom: 0;
  }

  .social li {
    display: inline-block;
    margin-right: 2em;
  }

  .social li:before {
    display: none !important;
  }

  .social li a {
    display: block;
    position: relative;
    top: 0;
    font-size: 1em;
    color: #999999;
  }

  .social li a .fa-inverse {
    color: #305B80;
  }

  .social li a:hover {
    color: #91479b;
  }

  .social p, .social ul, .social label, .social h4 {
    display: inline-block;
  }

  /*the end css social */

  /* css menu-home */
  .menu-home {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    z-index: 1;
  }

  .menu-home ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
/*  position: absolute;
  right: 68px;
  width: 340px;
  background: rgba(206, 201, 201, 0.37);
  float: none;
  top: 0;
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform-origin: right center;
  transition: .25s all;
  -webkit-transition: .25s all;*/
}

.menu-home ul li {
  font-size: 0.875em;
  line-height: 31px;
  color: #7b7979;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 15px;
  font-family: "Frutiger Roman";
}

.menu-home ul li a {
  color: inherit;
  display: inline-block;
  padding: 12px 0px;
}

.menu-home ul li:hover, .menu-home ul li.active {
  color: #333333;
}

/*.menu-home ul li:nth-child(2) a {
  position: relative;
  display: block;
  padding: 12px 5px;
  margin: 0 5px;
}

.menu-home ul li:nth-child(2) a:after {
  position: absolute;
  left: 100%;
  height: 2px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  content: "";
  width: 14px;
  background: #7b7979;
  }*/

/*.menu-home ul li:nth-child(2) a:before {
  position: absolute;
  right: 100%;
  height: 2px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  content: "";
  width: 14px;
  background: #7b7979;
  }*/
/*
.menu-home.active {
  background: rgba(206, 201, 201, 0.37);
}
.menu-home.active ul {
  padding-right: 18px;
  transition: .25s all;
  -webkit-transition: .25s all;
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  }*/

  .menu-home ul, .menu-home .navbar-header {
    height: 50px;
  }


  .navbar-header {
    background: rgba(206, 201, 201, 0.5);
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  /*the end  css menu-home */

  /* css video */
  .modal-dialog {
    margin-top: 0 auto;
  }

  .modal-dialog {
    width: 900px;
  }


  .btn-video {
    text-align: center;
    z-index: 1;
    position: relative;
    color: #fff;
    display: block;
  }
  .btn-video:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: #fff;
    content: "";
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: inline-block;
    background: url(../images/play.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 9em;
  }
  .l-menu-video{
    transition: .25s padding;
    -webkit-transition: .25s padding;
  }
  .l-menu-video img{
    max-width: 100px;
  }
  .mod-video {
    padding: 1.5em 0;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  .modal-body{
    padding: 0;
  }
  .embed-responsive-16by9{
    border: 5px solid #fff;
    border-radius: 5px;
  }

  .l-menu-video {
    background: #eeeff4;
  }
  .nine-space{
    background: #dfe2e9;
  }
  .section2{
    padding: 5em 0;
  }
  #ani16{
    background: #d2d5de;
  }

  .menu-video {
    background: #ccd0db;
    width: 68px;
    height: 68px;
    margin-left: auto;
    cursor: pointer;
    padding: 30px 20px;
  }

  .menu-video .icon-bar {
    display: block;
    width: 30px;
    height: 2px;
    background: #333335;
    position: relative;
  }

  .menu-video .icon-bar + .icon-bar {
    margin-top: 5px;
  }

  /*Menu Control*/
  .menu-control {
    background: none;
    border-radius: 0;
    border: none;
    padding: 25px 19px 25px 19px;
  }

  .menu-control .icon-bar {
    display: block;
    width: 30px;
    height: 2px;
    background: #333335;
    position: relative;
  /*transition: .25s transform;
  -webkit-transition: .25s transform;*/
}

.menu-control .icon-bar + .icon-bar {
  margin-top: 5px;
}

.menu-control.active {
  position: relative;
  left: 2px;
}

.menu-control.active .icon-bar:nth-child(1) {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
}

.menu-control.active .icon-bar:nth-child(2) {
  opacity: 0;
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
}

.menu-control.active .icon-bar:nth-child(3) {
  -ms-transform: rotate(-46deg);
  transform: rotate(-46deg);
  -moz-transform: rotate(-46deg);
  -webkit-transform: rotate(-46deg);
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform-origin: left top;
  top: 8px;
}
/*the end css video */

/*media img*/
@media only screen and (min-width: 769px) and (max-width: 1100px){
  #ani11, #ani7 {
    margin-top: 100px;
  }
}
.show-md{
  display: none;
}
@media only screen and (max-width: 1050px){
  .ps-rv{
    margin: 0 !important;
  }
  .left-ps{
    position: static;
    text-align: center;
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    font-size: 1.2em;
  }
  .left-ps h2{
    display: none;
  }
  .show-md{
    display: block;
  }
  .section2 p small{
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 767px){
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
  #content .section .col-sm-3{
    width: 100%;
  }
  #content .section .col-sm-9{
    width: 100%;
  }
  .ps-rv {
    margin-left: 245px;
  }
  .max-width1{
    min-width: 245px;
  }
  .ps-rv {
    margin-left: 0px;
  }
  .Scroll-Down{
    position: static;
  }
  .l-menu-video .col-sm-6{
    width: 50%;
    float: left;
  }
}

/*style menu -header*/
.banner{
  padding-top: 50px;
}
#header{
  position: fixed;
}
#header .container{
  position: relative;
  text-align: right;
}
#header .logo{
  position: absolute;
  top: 17px;
  left: 35px;
  z-index: 10;
}
#header .logo img{
  max-width: 160px;
}
.menu-control{
  padding: 8px 0px;
  width: 50px;
  float: right;
  text-align: center;
  position: static !important;
}
.menu-control .fa{
  text-align: center;
  font-size: 2em;
  color: #d2d5de;
  -webkit-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
  -o-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
  transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
}
.navbar-header{
  float: right;
  background: transparent;
}
.menu-home, .full-menu2{
  opacity: 0;
  width: 50px;
  height: 50px;
  position: static;
  overflow: hidden;
  -webkit-transition: all 1s cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 1s cubic-bezier(0.23,1,0.32,1);
  -o-transition: all 1s cubic-bezier(0.23,1,0.32,1);
  transition: all 1s cubic-bezier(0.23,1,0.32,1);
  background: #656565;
}
.show-menu{
  opacity: 1;
}
.menu-home:hover{
  width: 100%; 
  background: rgba(206, 201, 201, 1);
  -webkit-transition: all 1s cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 1s cubic-bezier(0.23,1,0.32,1);
  -o-transition: all 1s cubic-bezier(0.23,1,0.32,1);
  transition: all 1s cubic-bezier(0.23,1,0.32,1);
}
.full-menu{
 width: 100%;
 opacity: 1;
 z-index: 11; 
 background: rgba(206, 201, 201, 1);
 transition: all 0s !important;
 -webkit-transition: all 0s !important;
/* -webkit-transition: all 1s cubic-bezier(0.23,1,0.32,1);
 -moz-transition: all 1s cubic-bezier(0.23,1,0.32,1);
 -o-transition: all 1s cubic-bezier(0.23,1,0.32,1);
 transition: all 1s cubic-bezier(0.23,1,0.32,1);*/
}
.full-menu.show-menu{
 -webkit-transition: all 1s cubic-bezier(0.23,1,0.32,1) !important;
 -moz-transition: all 1s cubic-bezier(0.23,1,0.32,1) !important;
 -o-transition: all 1s cubic-bezier(0.23,1,0.32,1) !important;
 transition: all 1s cubic-bezier(0.23,1,0.32,1) !important;
}
/*#header .full-menu2 .logo{
  opacity: 0 !important;
  visibility: hidden !important;
}
#header .full-menu2:hover .logo{
  opacity: 1 !important;
  visibility: visible !important;
  }*/
  .full-menu2{
   width: 50px !important;
   -webkit-transition: all 1s cubic-bezier(0.23,1,0.32,1) !important;
   -moz-transition: all 1s cubic-bezier(0.23,1,0.32,1) !important;
   -o-transition: all 1s cubic-bezier(0.23,1,0.32,1) !important;
   transition: all 1s cubic-bezier(0.23,1,0.32,1) !important;
 }
 .full-menu2:hover{
  width: 100% !important; 
  background: rgba(206, 201, 201, 1);
  -webkit-transition: all 1s cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 1s cubic-bezier(0.23,1,0.32,1);
  -o-transition: all 1s cubic-bezier(0.23,1,0.32,1);
  transition: all 1s cubic-bezier(0.23,1,0.32,1);
}
.menu-home ul{
  width: auto;
  visibility: hidden;
  background: transparent;
  -webkit-opacity: 0;
  opacity: 0;
}
.menu-home:hover ul, .full-menu ul{
  visibility: visible;
  -webkit-transition: opacity 0.4s 0.5s linear;
  -moz-transition: opacity 0.4s 0.5s linear;
  transition: opacity 0.4s 0.5s linear;
  -webkit-opacity: 1;
  opacity: 1;
}
.menu-home:hover .fa, .full-menu .fa{
  -webkit-opacity: 1;
  opacity: 1;
  color: #797979;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.menu-home:hover .logo, .full-menu .logo{
  visibility: visible !important;
  -webkit-transition: opacity 0.4s 0.5s linear;
  -moz-transition: opacity 0.4s 0.5s linear;
  transition: opacity 0.4s 0.5s linear;
  -webkit-opacity: 1;
  opacity: 1 !important;
  transition-delay: 0.2s !important;
  -webkit-transition-delay: 0.2s !important;
}
#photo360{
  opacity: 0;
}
#photo360, .rotate-box{
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 12%;
  top: 0%;
  margin: 0 auto;
  height: 1417px;
  max-width: 1920px;
}
#photo360{
  opacity: 0;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100% !important;
  height: 100% !important;
}
#photo360.in{
  opacity: 1;
}
#rotate1, #rotate2{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100% !important;
}
.section1 {
  height: auto;
  min-height: 906px;
}
.pace-inactive{
  position: absolute;
  background: rgba(206, 201, 201, 1);
  left: 15px;
  width: 50px;
  z-index: 10;
  height: 50px;
  max-width: 1160px;
  top: 10px;
  transition: .25s all;
}
.pace-inactive.out{
  opacity: 0;
  visibility: hidden;
  background: transparent;
}
.home-page #rotate2,.home-page #slogan{
  opacity: 0;
}
.section1{
  height: 1366px;
}
#rotate2{
  //top: 377px;
}
@media only screen and (max-width: 1400px){
.section1{
  height: 1000px;
}
}